@using MyAspNetCoreApp.Web.Controllers
@{
    ViewData["Title"] = "Index";
}
@model List<Product2>
@section Css
{
    <style>
h1
{
    color:red;
}
</style>

}


<h1>Merhab Dünya</h1>


<p>@ViewBag.name</p>
<hr />
<p> yaş :@ViewData["age"]</p>
@foreach (var item in ViewData["names"] as List<string>)
{
    <p>@item</p>
}
<hr />
<p>@ViewBag.person.Id - </p><p>@ViewBag.person.Name - </p><p>@ViewBag.person.Age</p>




@foreach (var item in Model)
{
    <p>@item.Id - @item.Name</p>
}


@{
    <span>Günün Tarihi: @DateTime.Now.ToShortDateString()</span>
    var datetime = DateTime.Now.ToShortDateString();
    var massage = "merhaba";
    @:bugünün tarihi:@datetime  /*bu gösterim yerine <text> etiketi kullanılabilir*/
    <span>mesaj: @massage</span>
    <text>Bugünün tarihi: @datetime </text>
}




@section Scripts
    {
        <script type="text/javascript">alert("sayfamıza hoşgeldim")</script>

    } @*section'ın içerisine yazdığımız zaman _layout sayfasında gerekli js dosyaları yüklendikten sonra çalışır*@
